<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Customer Form</title>
</head>

<body>

    <h1> CRM - Customer Relationship Manager</h1>

    <form method="post" modelAttribute="customer" action="saveCustomer" th:action="@{saveCustomer}">
        <table>
            <tr>
            <input type="hidden" th:type="hidden" th:field="${customer.id}">
            </tr>

            <tr>
                <td><label>First Name:</label></td>
                <td><input type="text" th:field="${customer.firstName}"></td>
            </tr>
            <tr>
                <td><label>Last Name:</label></td>
                <td><input type="text" th:field="${customer.lastName}"></td>
            </tr>
            <tr>
                <td><label>Email:</label></td>
                <td><input type="text" th:field="${customer.email}"></td>
            </tr>
            <tr>
                <td><input type="submit"></td>
            </tr>
        </table>
    </form>
    <br><br>

    <a href="customers">Back to list</a>

</body>
</html>